$-ff-sans: "Manrope", sans-serif;

$font-family-base: $-ff-sans;

$font-sizes: (
  "small": (
    "400": 1rem,
    "200": 0.8125rem,
  ),
  "medium": (
    "400": 1rem,
    "200": 0.8125rem,
  ),
);

$font-size-200: var(--fs-200);
$font-size-400: var(--fs-400);

$-fw-500: 500;
$-fw-700: 700;

$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;
