@use "../abstracts/" as *;

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--flex-column-gap, $flex-group-gap);
}

// .flex-group.mx-auto {
//   justify-content: center;
// }
