@use "../abstracts/" as *;

.card {
  display: grid;
  border-radius: 10px;
  background-color: $color-neutral-100;
  box-shadow: $box-shadow-1;
  margin-block: $size-13;

  @include mq(medium) {
    grid-template-columns: auto auto;
    margin-block: $size-4;
  }

  &__image {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

    @include mq(medium) {
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }

  &__header {
    padding-inline: $size-8;
    padding-block-start: $size-9;
    padding-block-end: $size-4;

    @include mq(medium) {
      padding-inline: $size-10;
      padding-block-start: $size-8;
      padding-block-end: $size-5;
    }
  }

  &__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $size-8;
    padding-block-start: $size-5;
    padding-block-end: $size-5;

    @include mq(medium) {
      padding-inline: $size-10;
      padding-block-start: 0;
      padding-block-end: $size-4;
    }
  }
}
