@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-display: swap;
  src: url("/public/fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/Manrope-Bold.ttf") format("truetype");
}
